.main
  .main__info
    .main__info_title
      =@group.name
    .main__info_btn
      =link_to edit_group_path(@group),class:"main__info_btn_edit"do
        Edit
    .main__info_text
      Mamber:
      -@group.users.each do |user|
        =user.name

  .main__chat
    .main__chat_message
      = render @messages
  
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'

  -# .main__form
  -#   .main__form_message
  -#     .main__form_message_text  
  -#       = form_for [@group, @message] do |f|
  -#         = f.text_field :content, class: 'type', placeholder: 'type a message'
  -#         .main__form_message_text_image
  -#           = f.label :image, class: '_image' do
  -#             = icon('fas', 'image', class: 'icon')
  -#             = f.file_field :image, class: 'none'
  -#           .main__form_message_btn
  -#             = f.submit 'Send', class: 'submit' 


